node_modules/
output/
.env
.DS_Store
*.mp4
*.png
!assets/logo_app.png
!assets/master_template.png
!assets/master_template_vertical.png
!assets/smoke_texture.png
!assets/Fondo_theme.mp4
!assets/music/Alas_del_Alba.wav
!assets/music/Logo Hjalmar Animado.mp4
src/client_secrets.json
src/token.pickle
